name: Bump version tag on merge

on:
  pull_request:
    types: [closed]
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  tag:
    uses: git-mastery/actions/.github/workflows/bump-version.yml@main
    secrets: inherit
