name: Build and release Git-Mastery CLI

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: read

jobs:
  prepare:
    uses: git-mastery/actions/.github/workflows/get-latest-tag.yml@main

  arch-build:
    needs: prepare

    runs-on: ubuntu-latest

    env:
      ARCHITECTURE: amd64
      VERSION_NUMBER: ${{ needs.prepare.outputs.version_number }}
      FILENAME: gitmastery-${{ needs.prepare.outputs.version_number }}-arch-amd64
      REF_NAME: ${{ needs.prepare.outputs.ref_name }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Build binary
        run: |
          # Generate the .SRCINFO within a Docker container
          # We attach the current directory (aur-pkg) as the pkg directory volume
          echo "__version__ = \"$REF_NAME\"" > app/version.py

          docker run --rm \
            -v $PWD:/pkg \
            archlinux:base-devel \
            bash -c "
              pacman -Sy --noconfirm python openssl git &&
              cd /app &&
              pip install -r requirements.txt &&
              pyinstaller --onefile main.py --name $FILENAME --distpath /pkg/dist
            "

          # Fix file ownership after Docker run
          sudo chown -R $(id -u):$(id -g) .

          tree
