name: Test Windows

on:
  pull_request:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  packages: read
  issues: read

jobs:
  prepare:
    uses: git-mastery/actions/.github/workflows/get-latest-tag.yml@main

  windows:
    needs: prepare

    runs-on: windows-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Get version from tag
        id: get_version
        shell: pwsh
        env:
          REF_NAME: ${{ needs.prepare.outputs.ref_name }}
        run: |
          $version = "$REF_NAME"
          echo "$version"
          echo "VERSION=$version" | Out-File -FilePath $env:GITHUB_OUTPUT -Append

      - name: Build binary
        shell: pwsh
        env:
          REF_NAME: ${{ needs.prepare.outputs.ref_name }}
        run: |
          $version_content = '__version__ = "$($env:REF_NAME)"'
          $version_content | Out-File -FilePath app/version.py -Encoding utf8
          Get-Content app/version.py
          pyinstaller --onefile --name gitmastery main.py
