name: Bump version tag on merge

on:
  pull_request:
    types: [opened, reopened]
    branches: [main]

jobs:
  tag:
    uses: git-mastery/actions/.github/workflows/bump-version.yml@test/1
    secrets: inherit
